.logo-mobile{
    background-color: transparent;
    filter: invert(100%);
    width: 100%;
    max-width: 150px;
    object-fit: cover;
}

.logo-home{
    background-color: transparent;
    width: 100%;
    max-width: 150px;
    object-fit: cover;
}

.home-link{
    cursor: pointer;
}