.header{
    display: flex;
    align-items: center;
    justify-content: space-between  ;
    background-color: blue;
    padding: 1rem 1rem;
    position: absolute;
    z-index: 999;
    width: 100%;
    background-color: transparent;
}