.carousel{
    position: relative;
    height: 100%;
}

.carousel-previous-img{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;
    display: none;
}

.carousel-next-img{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    transform: rotate(180deg);
    margin: auto 0;
    display: none;
}

.carousel-img{
    object-fit: cover;
    object-position: center;
    min-height: 100%;
    /* filter: blur(2px); */
}

