.carousel{
    position: relative;
    height: 100%;
    background-image: url(../../images/ivy.png);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    /* align-items: center; */
}

.carousel-previous-img{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;
    display: none;
}

.carousel-next-img{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    transform: rotate(180deg);
    margin: auto 0;
    display: none;
}

.carousel-img{
    object-fit: cover;
    object-position: center;
    min-height: 100%;
    /* filter: blur(2px); */
}

